.book{
  border: 3px solid rgb(228,147,3);
  width: 21vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  margin: 2% 1% 2% 1%;
  padding: 2%;
  background-color:rgb(229,229,229);
  justify-content: space-between;
}

.cover {
  height: 70%
}

.book-info {
  display: flex;
  justify-content: space-between;
  padding: 0% 5% 0% 5%;
  background-color: rgb(228,147,3);
  font-size: .9em
}

.title {
  overflow: auto
}

.catagory {
  font-size: .8em;
  font-weight: 500;
  align-self: center;
}